<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Alta Oferta</title>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>
	
	<body>
		<header th:replace="/layouts/header :: header"></header>
		<div class="container col-4">
			<br>
			<p class="h4">Alta de Oferta</p>
			<br>
	
			<form th:action="@{/curso/guardar}" method="POST" th:object="${curso}">
			
				<div class="mb-3">
					<label for="codigoId" class="form-label">Código</label> 
					<input th:field=*{codigo} type="number" class="form-control" id="codigoId" placeholder="Ingrese Código">
					<div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
				</div>
				<div class="mb-3">
					<label for="tituloId" class="form-label">Título</label> 
					<input th:field=*{titulo} type="text" class="form-control" id="tituloId" placeholder="Ingrese Título">
					<div class="text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
				</div>
				<div class="mb-3">
					<label for="fechaInicioId" class="form-label">Fecha Inicio</label> 
					<input th:field=*{fechaInicio}  type="date" class="form-control" id="fechaInicioId" placeholder="Ingrese fecha inicio">
					<div class="text-danger" th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"></div>
				</div>
				<div class="mb-3">
					<label for="fechaFinId" class="form-label">Fecha Fin</label> 
					<input th:field=*{fechaFin} type="date" class="form-control" id="fechaFinId" placeholder="Ingrese fecha fin">
					<div class="text-danger" th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}"></div>
				</div>
				<div class="mb-3">
					<label for="horasId" class="form-label">Horas</label> 
					<input th:field=*{horas} type="number" class="form-control" id="horasId" placeholder="Ingrese Cantidad de horas">
					<div class="text-danger" th:if="${#fields.hasErrors('horas')}" th:errors="*{horas}"></div>
				</div>
				
				<div class="mb-3">
					<label for="docenteId" class="form-label">Docente</label> 
					<select th:field="*{docente.legajo}" class="form-control" id="docenteId">
						<option th:each="docente : ${docentes}"
							th:value="${docente.legajo}"
							th:text="${docente.apellido}+', '+${docente.nombre}"
						/>
					</select>
					<div class="text-danger" th:if="${#fields.hasErrors('docente')}" th:errors="*{docente}"></div>
				</div>
				<div class="mb-3">
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"  th:field="*{modalidad}" value="Virtual">
					  <label class="form-check-label" for="inlineRadio1">Virtual</label>
					</div>
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"  th:field="*{modalidad}" value="Presencial">
					  <label class="form-check-label" for="inlineRadio2">Presencial</label>
					</div>
					<div class="text-danger" th:if="${#fields.hasErrors('modalidad')}" th:errors="*{modalidad}"></div>
				</div>
				<div class="mb-3">
					<label for="categoriaId" class="form-label">Categoría</label> 
					<select th:field="*{categoria}" class="form-control" id="categoriaId">
						  <option value ="" selected>Seleccione ...</option>
						  <option value="desarrollo">Desarrollo</option>
						  <option value="idioma">Idioma</option> 
					</select>
					<div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
				</div>
								
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary me-md-2" type="submit">Enviar</button>
					 <a th:href="@{/inicio}" id="cancel" name="cancel" class="btn btn-secondary">Cancelar</a>
	  				
				</div>
			</form>
		</div>
		<br><br>
		<footer th:replace="/layouts/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
	
	
	</body>
</html>