<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<title>Alta curso</title>
</head>
<body>
	
	
	
	<header th:replace="/layouts/header :: header"></header>
	<div class="container col-4">
	<br>
	<h4>Editar Curso</h4>
	<br>
	<form th:action="@{/curso/modificar}" method="POST" th:object="${curso}">
	
	<div class="form-floating mb-3" hidden="hydden">
					<input th:field="*{id}" type="number" class="form-control" id="id" />
					<label for="id">id</label>
				</div>
	
	
	<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nombre</label>
  <input th:field="*{nombre}" type="text" class="form-control" id="codigoid" placeholder="Ingrese el nombre del curso">
  <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
	</div>
	<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Categoria</label>
  <select th:field="*{categoria}" class="form-control" >
						<option th:each="categoria : ${categorias}"
							th:value="${categoria}"
							th:text="${categoria}"
						/>
					</select>		
  <div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
	</div>
	<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Detalle</label>
  <input th:field="*{detalle}" type="text" class="form-control" id="nombreid" placeholder="Ingrese detalles">
  <div class="text-danger" th:if="${#fields.hasErrors('detalle')}" th:errors="*{detalle}"></div>
	</div>
	<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Meses de Duracion</label>
  <input th:field="*{duracion}" type="number" class="form-control" id="paisid" placeholder="Ingrese duracion en meses">
  <div class="text-danger" th:if="${#fields.hasErrors('duracion')}" th:errors="*{duracion}"></div>
	</div>
	<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Precio</label>
  <input th:field="*{precio}" type="number" class="form-control" id="estadioid" placeholder="Ingrese el precio">
  <div class="text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
	</div>
	
	<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button class="btn btn-primary me-md-2" type="submit">Guardar</button>
					 <a th:href="@{/empleador/home}" id="cancel" class="btn btn-secondary">Cancelar</a>
	</div>
	</form>
	</div>
	
	

	<footer th:replace="/layouts/footer :: footer"></footer>
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>