<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<title>Empleador</title>
</head>
<body>
	<header th:replace="/layouts/header :: header"></header>
	
	<h1>Empleador</h1>

<br>
<h3 align="center">MIS OFERTAS LABORALES</h3>

<div th:if="${#lists.isEmpty(lista)}">
                <h2>No creaste ninguna Oferta Aun</h2>
            </div>

<div class="cont">
<div class="card separar"th:each="oferta: ${lista}">

  <img class="card-img-top" th:src="@{/images/trabajo.png}" height="150" alt="Card image cap">
  
  <div class="card-block">
    <h4 class="card-title"  th:text="${oferta.puestoRequerido}"></h4>
    <p class="card-text"  th:text="${oferta.resumenPuesto}"></p>
     <span>Numero de vacantes:</span><p class="card-text"  th:text="${oferta.vacante}"></p>
     
    <a th:href="@{/oferta/contratados/}+${oferta.id}" class="btn btn-danger">Ver Contratados</a>
    <a th:href="@{/oferta/editar/}+${oferta.id}" class="btn btn-primary">Editar</a>
    <a th:href="@{/oferta/eliminar/}+${oferta.id}" class="btn btn-danger">Eliminar</a>
  </div>
</div>
</div>




	<footer th:replace="/layouts/footer :: footer"></footer>
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>