<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<title>Ciudadano</title>
</head>
<body>
	<header th:replace="/layouts/header :: header"></header>




<h1 align="center">OFERTAS LABORALES</h1>


 <span>Filtrar Por:</span>
 
<div class="dropdown">

  <button style="float: left;"
    class="btn btn-dark dropdown-toggle btn-sm "
    type="button"
    id="dropdownMenuButton4"
    data-bs-toggle="dropdown"
    aria-expanded="false">
  Provincia</button>
  
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">    
  
    <li th:each="provincia : ${listaProvincia}"><a class="dropdown-item" th:href="@{/ciudadano/filtrar/} + ${provincia}" th:text="${provincia}"></a></li>
 
  </ul>
  
</div>
<div class="dropdown">

  <a style="float: left;"
    class="btn btn-dark  btn-sm "
 
    id="dropdownMenuButton4"
    aria-expanded="false"
    th:href="@{/ciudadano/home}">
  Eliminar Filtros</a>
  
  
</div>

<div th:if="${#lists.isEmpty(lista)}">
                <h2>No se encontraron Ofertas Disponibles</h2>
            </div>



<div class="card" style="width: 18rem; float: left;" th:each="oferta: ${lista}">
  <img class="card-img-top" th:src="@{/images/trabajo.png}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"  th:text="${oferta.puestoRequerido}">Card title</h5>
    <p class="card-text"  th:text="${oferta.resumenPuesto}"  >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <span>Vacantes:</span> <li class="list-group-item"  th:text="${oferta.vacante}"></li>
     <span>Provincia:</span><li class="list-group-item" th:text="${oferta.provincia}"></li>
    <span>Datos De contacto</span> <li class="list-group-item" th:text="${oferta.datosContacto}"></li>
     <span>Jornada:</span><li class="list-group-item"  th:text="${oferta.jornada}"></li>
     <span>Requisitos:</span><li class="list-group-item" th:text="${oferta.requisitos}"></li>
      <span>Salario:</span><li class="list-group-item" th:text="${oferta.salario}"></li>
    <span>Beneficios:</span> <li class="list-group-item" th:text="${oferta.beneficios}"></li>
  </ul>
  <div class="card-body">
   <a th:href="@{/postulante/postularse/}+${oferta.id}" class="btn btn-primary">Postularse</a>
  </div>
</div>

	
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>