<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<title>Ciudadano</title>
</head>
<body>
	<header th:replace="/layouts/header :: header"></header>
	
	<div class="container">
	<h1 class="text-center"  sec:authorize="hasAuthority('EMPLEADOR')">TUS CURSOS</h1>
	<h1 class="text-center"  sec:authorize="hasAuthority('CIUDADANO')">CURSOS DISPONIBLES</h1>
	<br>
	

 
<div class="dropdown" sec:authorize="hasAuthority('CIUDADANO')">
  <button style="float: left;"
    class="btn btn-dark dropdown-toggle btn-sm "
    type="button"
    id="dropdownMenuButton4"
    data-bs-toggle="dropdown"
    aria-expanded="false">
  Categoria</button>
  
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">    
  
    <li th:each="categoria : ${categorias}"><a class="dropdown-item" th:href="@{/ciudadano/categoria/} + ${categoria}" th:text="${categoria}"></a></li>
 
  </ul>
  
</div>

<div th:each="curso: ${lista}" class="card ">
  <div class="card-header text-center h4" th:text="${curso.nombre}">
  </div>
  <div class="card-body">
  
    <h5 class="card-title" th:text="${curso.detalle}"></h5>
    <div class="single-line">
     <p>Meses de duracion:</p>
    <p class="card-title" th:text="${curso.duracion}"></p>
    </div>
    <p>Precio del curso</p>
    <p class="card-text" th:text="${curso.precio}"></p>
     <p>Vacantes disponibles</p>
    <p class="card-text" th:text="${curso.vacante}"></p>
    
    <a th:href="@{/curso/inscribir/}+${curso.id}" class="btn btn-primary"  sec:authorize="hasAuthority('CIUDADANO')">Inscribirse</a>
     <a th:href="@{/curso/editar/}+${curso.id}" class="btn btn-primary"  sec:authorize="hasAuthority('EMPLEADOR')">Editar</a>
      <a th:href="@{/curso/eliminar/}+${curso.id}" class="btn btn-primary"  sec:authorize="hasAuthority('EMPLEADOR')">Eliminar</a>
      <a th:href="@{/curso/inscriptos/}+${curso.id}" class="btn btn-primary"  sec:authorize="hasAuthority('EMPLEADOR')">Ver Inscriptos</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
<br>
</div>


	<footer th:replace="/layouts/footer :: footer"></footer>
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>