<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Header</title>
</head>
<body>

<header th:fragment="header" id="head">


<div class="dropdown" sec:authorize="hasAuthority('CIUDADANO')">
  <button style="float: right;"
    class="btn btn-dark dropdown-toggle btn-lg "
    type="button"
    id="dropdownMenuButton4"
    data-bs-toggle="dropdown"
    aria-expanded="false">
  Menu</button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item" th:href="@{/curriculum/ver}">Ver o Crear Curriculum Vitae</a></li>
    <li><a class="dropdown-item" th:href="@{/curso/lista/ciudadano}">Cursos online</a></li>
    <li><a class="dropdown-item" th:href="@{/ciudadano/postulaciones}">Ver Postulaciones Activas</a></li>
     <li><a class="dropdown-item" th:href="@{/ciudadano/contrataciones}">Ver Contrataciones</a></li>
      <li><a class="dropdown-item" th:href="@{/ciudadano/home}">Ofertas Laborales</a></li>
        <li><a class="dropdown-item" th:href="@{/ciudadano/inscripciones}">Ver Inscripciones</a></li>
  </ul>
</div>

	<div class="dropdown" sec:authorize="hasAuthority('EMPLEADOR')">
  <button style="float: right;"
    class="btn btn-dark dropdown-toggle btn-lg "
    type="button"
    id="dropdownMenuButton4"
    data-bs-toggle="dropdown"
    aria-expanded="false">
  Menu</button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item "th:href="@{/empleador/home}">Ver Tus Ofertas</a></li>
    <li><a class="dropdown-item" th:href="@{/curso/lista}">Ver Tus Cursos</a></li>
    <li><a class="dropdown-item" th:href="@{/empleador/postulantes}">Ver Postulantes</a></li>
    <li><a class="dropdown-item" th:href="@{/curso/nuevo}">Crear un Curso</a></li>
     <li><a class="dropdown-item" th:href="@{/oferta/nuevo}">Crear Oferta Laboral</a></li>
  </ul>
</div>
	


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <!-- Avatar -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
            class="rounded-circle"
            height="22"
            alt="Portrait of a Woman"
            loading="lazy"
          />
          <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
        </a>
        
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
       
          <li>
            
            <form th:action="@{/logout}" method="post">
					<button class="btn" type="submit" value="Salir">
						<span th:text="${'Cerrar Sesión'}"></span>
					</button>
				</form>
          </li>
        </ul>
        
      </li>
    </ul>
  </div>
</nav>











</header>
</body>
</html>