.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}


.cont
{
  width: 100%;
  height: auto;
  display: flex !important;
  flex-wrap: wrap;
}
.separar
{
	border-left: 10px !important ;
	padding: 40px;
}

body {
  
  min-height: 100vh;
  background: url(/images/blanco.jpg) no-repeat fixed center center #333;
  background-size: cover;
  padding-bottom: 3px;
}
.single-line {
  display: flex;
}
.car{
	border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    overflow: hidden;
    backdrop-filter: blur(1rem);
    background-color: rgba(255, 255, 255, 0.060);
    border: .1rem solid rgba(255, 255, 255, 0.18);
    color: var(--white-text);
	
}
.cont{
	min-height: calc(100vh - 150px - 70px);
	
}
.fot{
	margin-top: 100px;
}